<div class="<%= location %>">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "Home", root_path %>
      <%= link_to "About Me", about_me_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Blog", blogs_path %>
      <%= link_to "Portfolio", portfolios_path %>
    </nav>
  </div>
</div>